
/// GLOBALS
#define DEBUG 4 // from 0 to 4
#define BAUD_RATE 115200

/// NETWORK PARAMS
#define ID_TYPE 0 // 0 : prefix+espCHipId - 1 : prefix+MACadress - 2 : prefix+EUI-64 address
#define CLIENT_SECURE 0
#define MQTT_CLIENT 1
#define WEB_SERVER 0
#define NTP_SERVER 0

bool resetConfig = false, wifiResetConfig = false; // set to true to reset FS and/or Wifimanager, don't forget to set this to false after
unsigned long configTimeout = 200, minDelayBetweenframes = 1000, reconnectInterval = 500, debouncerInterval = 2000;
unsigned long lastMqttReconnectAttempt = 0, lastWifiReconnectAttempt = 0, lastPictureAttempt = 0, buttonPressTimeStamp;
bool shouldSaveConfig = true, executeOnce = false, manualConfig = false;
int configCount = 0, wifiFailCount = 0, mqttFailCount = 0, mqttMaxFailedCount = 10, configMode = 0, buttonState;

//// FILE / STREAM MANAGER
static const size_t objBufferSize = 512;
static const int fileSpaceOffset = 700000;
const String otaFile = "ota.txt";
const String configFileName = "config.json";
int fileTotalKB = 0;
int fileUsedKB = 0;
int fileCount = 0;
String errMsg = "";
int otaSignal = 0;

//// NTP
#if NTP_SERVER == 1
static const char ntpServerName[] = "fr.pool.ntp.org";
const int timeZone = 1;     // Central European Time
unsigned int localPort = 8888;  // local port to listen for UDP packets
#endif

// ESP
#define BOUNCE_LOCK_OUT
#define OTA_BUTTON_PIN D3
#define STATE_LED D4

//// SKETCH
#define SKETCH_NAME "[ALOES NODE WEBCAM]"
#define SKETCH_VERSION "0.5"

/////////
// leave empty to use automatic Wifi config
const char* defaultWifiSSID = "";
const char* defaultWifiPass = "";
const char* defaultMqttServer = "192.168.1.1";
const char* defaultMqttPort = "1883";
const char* defaultMqttUser = "";
const char* defaultMqttPassword = "";
const char* defaultMqttTopicIn = "122334-in";
const char* defaultMqttTopicOut = "122334-out";

//  "pattern": "+prefixedDevEui/+method/+omaObjectId/+sensorId/+omaResourcesId",
struct Message {
  char method[5];
  char omaObjectId[5];
  char sensorId[25];
  char omaResourcesId[5];
  char* payload;
};

struct Config {
  char deviceName[30] = "node-webcam";
  char devEui[20];
  char devicePass[40] = "motdepasse";
  char inPrefix[10] = "-in";
  char outPrefix[10] = "-out";
  char mqttServer[40];
  char mqttPort[7];
  char mqttClient[50];
  char mqttUser[40];
  char mqttPassword[70];
  char mqttTopicOut[50];
  char mqttTopicIn[50];
  char staticIp[16] = "192.168.1.35";
  char staticGw[16] = "192.168.1.254";
  char staticSn[16] = "91.121.61.147";
  char camResolution[4] = "4";
  char camFpm[4] = "3";
};

// sensors to register ( max 50 )
// ( objectId, sensorId, resourceId, payload )
const char* sensors[][50] = {
  { "3306", "1", "5850", "digital_input"},
  { "3349", "2", "5910", "buffer_input"},
};

char* postTopics[][100] = {};

//// ARDUCAM
#define CS 16

static const size_t camBufferSize = 1024; // 4096; //2048; //1024;
bool transmitNow = false, transmitStream = false;
bool timelapse = false, base64encoding = false;
int resolution = 4; int fpm = 3;

